@model IEnumerable<TP1.Models.Aluno>

@{
    ViewBag.Title = "ListarAlunos";
}

<h2>ListarAlunos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Avaliacao)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curriculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avaliacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
